<section class="upload-img">
  <div class="upload-box" :class="files.length? '': 'w-100'">
    <label :for="name" class="photo_label">
      <div class="image-drop-box">
        <div class="icon"><i class="fas fa-images"></i></div>
        <h4>أفلت الملفات في أي مكان لتحميلها<br />أو</h4>
        <span class="btn btn-secondary">اختر صورة</span>
      </div>
    </label>
    <file-upload
      :input-id="name"
      :add-index="addIndex"
      :data="data"
      :directory="directory"
      :drop="drop"
      :headers="headers"
      :maximum="120"
      :multiple="multiple"
      :post-action="postAction"
      :size="1024 * 1024 * 10"
      :thread="100"
      @input-file="inputFile"
      @input-filter="inputFilter"
      :accept="photosAccept"
      :extensions="photosExtensions"
      ref="upload"
      v-model="files"
    >
    </file-upload>
  </div>

  <draggable
    class="default"
    :class="{'hasMainPhoto':hasMain }"
    @start="drag=true"
    tag="ul"
    v-bind="dragOptions"
    v-model="files"
    @sort="setMain(0)"
  >
    <li
      :class="{'notValid' :isPanoramic && !file.isValid}"
      :key="file.id"
      class="upload-box-group-item"
      v-for="(file,index) in files"
    >
      <div class="photo-box">
        <div
          class="problem"
          title="الصورة ليست بانورامية"
          v-if="!file.isValid && isPanoramic"
        >
          <i class="fas fa-exclamation"></i>
        </div>
        <div class="image-box">
          <div class="setMain" v-if="showSetButton(index)">
            <button @click.prevent="setMain(index)">تعيين كرئيسية</button>
          </div>
          <div class="remove">
            <a @click.prevent="onDeleteFile(file)" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 20"
                stroke="#999696"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                />
              </svg>
            </a>
          </div>

          <div class="header" v-show="hasMain && index === 0">
            <i class="fas fa-crown"></i>
            <span> الصورة الرئيسية </span>
          </div>

          <div class="loading" v-if="file.active">
              <span>
                loading
              </span>
          </div>
          <img :src="file.thumb" v-if="file.thumb && !file.path" />
          <img :src="$vRoute.imageUrl(file.path)" v-if="file.path" />
          <span v-else>No Image</span>
          <div class="footer pt-1" v-if="!isPanoramic">
            <a
              @click.prevent="file.active || file.error === 'compressing' ? false :  onEditFileShow(file) ; showModificationButtons()"
              href="#"
            >
              <i class="fas fa-pencil-alt"></i>
              تعديل
            </a>s
          </div>
        </div>
      </div>
    </li>
  </draggable>

  <b-modal v-model="editFile.show" title="تعديل الصورة" hide-footer>
    <form @submit.prevent="onEditorFile" @mouseenter="clear" @click="clear">
      <div class="modal-body">
        <div class="form-group">
          <div class="edit-image" style="height: 400px; width: 100%">
            <img
              ref="editImage"
              :src="editFile.blob"
              v-if="editFile.show && editFile.blob && editFile.type && editFile.type.substr(0, 6) === 'image/'"
            />
            <img
              :src="$vRoute.imageUrl(editFile.path)"
              ref="editImage"
              v-else-if="editFile.path &&editFile.show && editFile.blob && editFile.type && editFile.type.substr(0, 6) === 'image/'"
            />
          </div>
        </div>
      </div>
      <div
        class="modal-footer justify-content-start hidden"
        id="modification-buttons"
      >
        <div>
          <div class="edit-image-tool">
            <div class="btn-group flex justify-around" role="group">
              <template>
                <button
                  @click="rotateImage(-90)"
                  class="rotate-button"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="transform"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
                <button
                  @click="rotateImage(90)"
                  class="rotate-button"
                  type="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="transform"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
              </template>
              <!--                            <button @click.prevent="editFile.cropper.reset()">إعادة تعيين</button>-->
            </div>
          </div>
        </div>
        <div
          class="ml-auto save-close  flex justify-around hidden"
          id="save-close-buttons"
        >
          <button
            @click.prevent="editFile.show = false ;  hideModificationButtons()"
            class="btn btn-danger"
          >
            إغلاق
          </button>
          <button class="btn btn-success" type="submit">حفظ</button>
        </div>
      </div>
    </form>
  </b-modal>
</section>
